page-time-tracker {
  .ion-input {
    width: 20%;
  }

  .driver-card__number-input,
  .driver-card__time-input,
  .driver-card__name-label {
    font-size: 2rem !important;
    font-weight: bold;
  }
}
